{#
| Variable              | Type      | Description                                                      |
|-----------------------|-----------|------------------------------------------------------------------|
| products.source       | string    |                                                                  |
| products.source_value | ?int[]    | ids of sources (product_ids, categories_ids, brands_id..etc)     |
| title                 | string    | Section title                                                    |
| display_all_url       | ?string   | If it's existed, mean should show load more link to this url     |
| position              | Int       | Sorting number start from zero                                   |
| limit                 | int       | Number of products to be shown                                   |
#}
{% set is_vertical = theme.settings.get('vertical_fixed_products', true) %}
<section class="s-block container theme_prodact_section">
    {% if title %}
      <div class="s-block__title justify-center">
        <div class="right-side">
          <h2>{{ title }}</h2>
          <div class="All-line flex items-center justify-center">
                     <div class="line"></div>
                     <div class="Circle"></div>
                   <div class="line"></div>
                  </div>
          {# <p>عنوان فرعي توصيفي صغير</p> #}
        </div>
        {% if display_all_url %}
            <a href="{{ display_all_url }}" class="s-block__display-all">{{ trans('blocks.home.display_all') }} <i class="sicon-arrow-left"></i></a>
        {% endif %}
      </div>
    {% endif %}

    <salla-products-list
      source="{{ products.source }}"
      limit="{{ limit }}"
      source-value="{{ products.source_value|json_encode }}"
      class="{{is_vertical ? 'vertical-products' : 'horizontal-products'}}"
      {{is_vertical ? '' : 'horizontal-cards'}}
      >
    </salla-products-list>
</section>
<style>
  .theme_prodact_section, .s-block-tabs
  {
    background-color: #035173 !important;
  }
  .s-product-card-entry
  {
    background-color: #f8dcbf;
    color: #035173;
    box-shadow: 0px 0px 20px 0px #fa99397d;
  }
  .s-product-card-content-title a
  {
    color: #035173;
  }
  .s-product-card-sale-price h4
  {
    color: #fa9939 !important;
  }
  .s-button-primary-outline
  {
    border-color: #035173;
    color: #035173;
  }
  .s-button-primary-outline:hover
  {
    background-color: #035173;
    color: #f8dcbf;
  }
  .s-block__title
  {
    justify-content: center !important;
    color: #f8dcbf;
    text-align: center;
  }
</style>


